@import "vars"


@media only screen and (max-width: 1600px)
  .characteristics-product__info
    padding: 0 0 0 40px

@media only screen and (max-width: 1530px)
  .form-group label
    margin-right: 20px

@media only screen and (max-width: 1500px)
  .form-group .label-message
    max-width: calc(100% - 21.7% - 40px)

  .characteristics-product-wrapper
    padding: 0

@media only screen and (max-width: 1400px)
  .authorization-img
    max-width: 600px

  .authorization-content
    width: calc(100% - 600px)

  .registration-content
    max-width: 400px
    margin: 0 auto

  .basket-card__img
    width: 200px
    height: 200px

  .basket-card__body
    width: calc(100% - 200px)

  .basket-card
    padding: 20px 0


@media only screen and (max-width: 1320px)
  .characteristics-tab__item
    font-size: 18px

  .characteristics-product__box
    max-width: 430px

  .characteristics-product__info
    width: calc(100% - 430px)

  .list-characteristics__product
    font-size: 21px
    li
      &:before
        width: 32px
        height: 32px
        min-width: 32px
        font-size: 21px

@media only screen and (max-width: 1300px)
  .home-slider__box-img
    width: 600px
    min-height: 600px

  .home-slider__box-content
    width: calc(100% - 600px)

  .main-home
    padding: 100px 0 0

  .cooperation-content
    padding: 0 30px 0 0

  .callback-item
    padding: 35px

  .btn-maps
    width: 100%
    margin: 0 auto
    justify-content: center


  .btn-maps-icon
    order: -1
    margin: 0 15px 0 0

  .basket-total
    max-width: 380px

  .list-orders
    font-size: 14px

  .list-orders__val
    font-size: 20px
    .sum-currency
      width: 11px
      height: 12px
      margin: 0 0 0 7px

  .basket-wrapper
    width: calc(100% - 380px)

  .btn-maps-preview
    width: 140px
    height: 140px

  .address-box-checkout-wrapper .btn-maps
    width: fit-content

@media only screen and (max-width: 1200px)
  .menu li
    margin: 0 30px 0 0

  .home-slider__box-name
    font-size: 44px
    h3
      font-size: 40px

  .container
    padding: 0 30px

  .btn-basket
    margin: 0 38px 0 0

  .home-slider__box-img
    width: 500px
    min-height: 500px

  .home-slider__box-content
    width: calc(100% - 500px)

  .main-home
    background-position: -30% top

  .catalog-menu .callback-box
    max-width: 380px

  .btn-callback
    height: 85px
    font-size: 28px

  .footer-box h3
    font-size: 29px

  .footer-menu
    font-size: 17px

  .btn-service
    font-size: 25px
    .svg-icon
      width: 28px
      height: 27px
      margin: 0 16px 0 0

  footer
    .btn-callback
      height: 70px
      font-size: 23px

  .list-social li a
    width: 83px
    height: 83px
    padding: 24px

  .btn-share
    font-size: 24px

  .box-social
    font-size: 19px

  .callback-item, .authorization-img
    width: 500px

  .cooperation-content, .authorization-content
    width: calc(100% - 500px)

  .authorization
    padding: 110px 0 60px

  .basket-wrapper
    width: 100%
    padding: 0
    margin: 0 0 40px

  .basket-card__body
    max-width: none

  .basket-total__item
    margin: 0 0 10px

  .basket-total
    max-width: none
    margin: 0 auto

  .checkout-wrapper
    max-width: 450px

  .product-home__line
    padding: 34px 0 0

  .product-home .btn
    max-width: 300px



  .characteristics-tab__item
    font-size: 16px

  .characteristics-product__box
    max-width: 380px

  .characteristics-product__info
    width: calc(100% - 380px)

  .characteristics-tab__item
    margin: 0 10px 10px 0
    &:last-child
      margin: 0 0 10px


@media only screen and (max-width: 1100px)
  .home-slider__box-content .box-text
    min-height: 180px

  .list-characteristics
    margin: 0 auto 40px

  .home-slider__box-name
    min-height: 100px
    margin: 0 0 30px
    font-size: 40px
    h3
      font-size: 36px

@media only screen and (max-width: 992px)
  header
    padding: 31px 0
    .menu
      display: none

  .logo
    max-width: 228px

  .btn-burger
    display: block

  .list-characteristics
    font-size: 14px
    p
      font-size: 30px

  .catalog-menu
    padding: 117px 0 40px
    .btn-service
      font-size: 24px
      margin: 37px 0 0
      .svg-icon
        width: 20px
        height: 20px
        margin: 0 16px 0 0

  .catalog-menu-box__title
    font-size: 23px
    border-left-width: 8px

  .catalog-menu__list
    font-size: 17px
    li
      margin: 0 0 22px

  .catalog-menu-box
    margin: 0 30px 0 0

  .about
    background-position: left top
    h2, .title-line p
      font-size: 44px
    .box-text
      margin: 26px 0 0

  .about-slider
    padding: 0 30px

  .gallery-slider
    margin: 40px 0

  .gallery-slider__box
    width: 500px
    height: 350px


  .gallery-slider
    .slick-slide
      margin: 10px 20px
      padding: 20px
    .slick-center
      transform: scaleX(1.20) scaleY(1)

  .gallery-slider__box-name
    font-size: 20px

  .gallery-slider__nav
    .slick-prev
      left: 20px
    .slick-next
      right: 20px

  .modal__wrapper
    h2
      font-size: 38px
    .box-text
      font-size: 21px
      margin: 42px auto 60px

  .form-callback
    .checkbox
      margin: 55px auto 48px

  input
    height: 51px
    padding: 0 16px
    font-size: 17px

  .checkbox
    font-size: 21px

  .form .btn, .form button
    height: 85px
    font-size: 29px

  .cooperation-content, .authorization-content
    width: 100%
    padding: 0
    margin: 0 0 30px

  .callback-item
    margin: 0 auto

  .authorization-img
    margin: 0 auto

  .authorization-content
    align-items: center

  .links-reset
    margin: 0 0 33px
    font-size: 21px

  .line-wrapper
    margin: 0 auto 30px
    text-align: center
    justify-content: center

  .registration-content
    max-width: none
    width: 100%
    padding: 30px 0
    .copyright
      margin: 50px auto 0
    .box-text
      margin: 42px auto 0
      max-width: 372px
      width: 100%

  .registration-title
    max-width: 357px
    margin: 0 auto
    width: 100%

  .registration
    padding: 112px 0 0

  .password-reset
    .authorization-img
      display: none

    .authorization-content
      margin: 0
    h1
      font-size: 44px
      margin: 0 auto
    .box-text
      font-size: 18px
      max-width: 404px
      margin: 43px auto

  .politics
    padding: 112px 0 150px
    h2
      text-align: left
      padding: 0 0 0 30px
      font-size: 38px
      margin: 0 0 50px
    h1
      margin: 0 0 38px

  .target-politics
    margin: 49px 0 0

  .form-callback-page
    justify-content: space-between
    label
      width: 49%
      margin: 0 0 20px
    .form-group
      justify-content: space-between
      flex-wrap: wrap
    .label-message
      width: 100%
      max-width: none

  .form-service
    .checkbox
      margin: 0 0 50px
      padding: 0
      order: -1
      width: 100%
    .btn
      max-width: none
      width: 100%
      margin: 50px 0 0

  .checkout-wrapper
    max-width: none

  .list-radio-order
    justify-content: space-around

  .checkout .basket-total
    display: none

  .checkout-wrapper
    button
      margin: 34px auto 0
      max-width: none
    .links-next-order
      display: flex
      margin: 29px auto 0
      text-align: center
      color: #0451BF
      font-size: 15px
      justify-content: center

  .important-info
    max-width: none
    margin: 20px auto 0
    font-size: 14px

  .info-payment .svg-icon
    width: 25px
    min-width: 25px
    height: 25px

  .checkout-box
    margin: 0 0 35px


  .product-gallery .slick-current .product-gallery__box
    max-width: 460px

  .product-gallery .slick-sprev .product-gallery__box img, .product-gallery .slick-snext .product-gallery__box img
    width: 314px

  .product-gallery .slick-sprev2 .product-gallery__box img, .product-gallery .slick-snext2 .product-gallery__box img
    width: 240px

  .views-tab__item
    font-size: 25px

  .features-slider__box
    flex-direction: column
    align-items: center

  .features-slider__box-photo
    order: -1
    margin: 0 auto 68px

  .list-characteristics__product
    width: 100%

  .features-content
    padding: 60px 0

  .features-slider .slick-dots
    position: relative
    margin: 30px 0 0

  .list-characteristics__product li
    margin: 0 0 15px
    &:last-child
      margin: 0

  .home-slider__box-content .box-text
    min-height: 220px

  .home-slider__box-name
    margin: 0 0 20px
    min-height: 80px
    font-size: 36px
    h3
      font-size: 30px

/* Small Devices, Tablets */
@media only screen and (max-width: 950px)
  .callback-box
    margin: 20px 0 0

  .footer-box
    margin: 0 0 30px

  .characteristics-product__info
    width: 100%
    padding: 0
    margin: 60px 0 0

  .characteristics-product__box
    max-width: none

  .list-info-prod
    max-width: none

  .characteristics-tab
    justify-content: space-between

  .characteristics-tab-content__item .box-text
    max-width: none


@media only screen and (max-width: 920px)
  .home-slider__box
    position: relative

  .home-slider__box-content
    width: 100%
    padding: 0
    color: #fff
    position: relative
    z-index: 1
    .list-characteristics
      flex-direction: column
      align-items: flex-start
      color: #fff
      margin: 0 0 238px 30px
      li
        margin: 0 0 18px
        &:last-child
          margin: 0
        p
          color: #fff
    .box-text
      color: #fff
      min-height: 200px
    .btn
      max-width: none
      height: 77px
      font-size: 28px
      margin: 0 auto


  .home-slider__box-name
    margin: 0 0 24px

  .home-slider__box-img
    max-width: 680px
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    min-height: 680px

  .main-home
    background-position: left top
    padding: 159px 0 0
    -webkit-background-size: cover
    background-size: cover

  .home-slider
    .slick-prev
      left: -15px
    .slick-next
      right: -15px
    .slick-dots
      position: relative
      margin: 30px auto 38px
      bottom: 0
      justify-content: center

  .main-home .counter-slide
    display: none

  .slick-dots li
    margin: 0 23px 0 0

  .slick-arrow
    width: 12px
    height: 21px

  .catalog-menu-box
    margin: 0 0 30px

  .catalog-menu-wrapper
    width: 100%
    margin: 0 0 67px
    flex-direction: column
    align-items: flex-start

  .catalog-menu
    .callback-box
      max-width: none
      flex-direction: column
      align-items: center
      .phone
        display: flex
        margin: 55px auto 0
        justify-content: center
        font-size: 24px
        .svg-icon
          width: 30px
          height: 30px
          margin: 0 15px 0 0
    .btn-service
      justify-content: center

  .btn-callback
    max-width: none

  .news .title-line .links-all
    display: none

  .about .box-text
    font-size: 18px

  .about
    background: url("../img/about-bg-mobile.png") no-repeat left top
      size: cover


  .form-group
    justify-content: space-between
    label
      width: 49%
      margin-right: 0

  .product-home
    .btn
      max-width: none
      margin: 22px auto 0

  .product-home .list-characteristics
    color: #fff

  .product-home h1
    font-size: 58px

  .product-home
    min-height: 970px
    background-position: 40% top

  .btn-test-drive.transform
    transform: none

@media only screen and (max-width: 768px)
  .home-slider__box-content
    .box-text
      display: none
    .list-characteristics
      margin: 0 0 238px 30px

  .main-home
    margin: 0 0 28px

  h2
    font-size: 44px

  .news-slider-box
    min-height: 467px

  .news-slider .slick-active + .slick-center .news-slider-box__name
    padding: 25px 0 0

  .news-slider .slick-active + .slick-active .news-slider-box
    font-size: 29px

  .news-slider .slick-active + .slick-center .news-slider-box
    font-size: 45px

  .news
    .container
      padding: 0

  .news-slider, .popular-slider
    .slick-prev
      left: 20px
    .slick-next
      right: 20px

  .popular-slider-box
    width: 290px
    min-height: 353px
    font-size: 37px
    pointer-events: none
    transition: .5s ease

  .popular-slider
    .slick-center
      .popular-slider-box
        width: 334px
        color: $accent
        padding: 44px 0 0
        margin: 0 -20px 0
        z-index: 1
        position: relative
      .popular-slider-box__img
        opacity: 1

  .popular
    .container
      padding: 0

  .popular-slider-box__img
    opacity: .6



  .about-slider
    margin: 44px 0 0
    padding: 0
    .slick-dots
      justify-content: center
      margin: 30px auto 0
      position: relative
      bottom: 0
    .box-text
      text-align: center
      max-width: 440px
      margin: 0 auto

  .about
    padding: 63px 0 34px
    .title-line
      p, h2
        display: inline

  .gallery-slider
    .slick-slide
      padding: 15px
      margin: 15px 25px
    .slick-center
      transform: scaleX(1.4) scaleY(1.05)
    //width: 415px
    //height: 254px


  .gallery-slider__box
    height: 254px
    width: 300px

  .gallery-slider__box-name
    font-size: 16px
    padding: 5px 10px

  .gallery-slider
    margin: 20px 0

  footer
    padding: 34px 0 24px
    .d-mobile.callback-box
      display: flex
      width: 100%
      flex-direction: column
      align-items: center
      margin: 0 auto 41px
      padding: 0 30px
    .container
      padding: 0
    .box-social
      order: -1
      width: 100%
    .logo
      margin: 36px 0 34px
      max-width: 221px

  .footer-box
    width: 100%
    margin: 0
    padding: 14px 30px
    border-top: 1px solid rgba(#fff, .62)
    h3
      display: none
      margin: 0
    .callback-box, .phone, .mail
      display: none
    .dropdown-item
      h3
        display: block

  .cooperation-links
    display: none

  .copyright
    justify-content: center
    margin: 19px 0 0

  .links-version
    display: block

  .footer-box-tech
    h3
      display: block

  .dropdown-item
    display: flex

  .dropdown-item.click
    .svg-icon
      transform: rotate(180deg)

  .block-hidden
    display: none
    margin: 36px 0 0

  .footer-top
    margin: 0 0 40px

  .footer-bottom
    .container
      padding: 0 30px


  .list-social li
    margin: 0 16px 0 0

  .cooperation-content
    margin: 0
    .box-text
      display: none

  .callback-item
    width: 100%

  .page
    background: #fff
    h1
      font-size: 38px
      color: #000

  h1:before
    margin: 0 17px 0 0
    width: 8px
    height: 37px


  h1
    margin: 0 0 43px

  .header
    .logo
      background: url("../img/logo3.svg") no-repeat center
        size: contain
      width: 195px
      height: 40px
      img
        display: none
    .header-box
      .svg-icon
        fill: $text

  .callback-item
    padding: 0
    h3
      display: block

  .form
    max-width: none

  .cooperation
    padding: 115px 0 80px

  .cooperation-bg
    min-height: 184px
    background: url("../img/bg-cooperation.jpg") no-repeat center
      size: cover
    width: 100%

  .registration .title-line
    flex-direction: column
    align-items: flex-start
    margin: 0 0 63px

  input, textarea, select
    border: 1px solid $text

  input
    padding: 0 20px
    height: 66px
    font-size: 21px
    &::placeholder
      color: $text

  .form-registration .checkbox
    margin: 0 0 35px

  .checkbox
    color: $text

  .checkbox-custom
    border: 1px solid $text

  .registration
    padding: 112px 0 0
    .logo
      display: none
    h1
      &:before
        order: -1
        width: 8px
        height: 37px
        margin: 0 18px 0 0

  .registration-content
    position: relative
    &:before
      content: ''
      width: calc(100% + 60px)
      height: 100%
      background: url("../img/bg-cooperation.jpg") no-repeat center
        size: cover
      left: -30px
      top: 0
      position: absolute
    >*
      position: relative
      z-index: 1

  .callback-item
    padding: 0 0 8px

  .label-group
    color: $text
    font-size: 21px

  .radio
    color: $text
    font-size: 21px

  .radio-custom
    border: 1px solid $text

  .form-callback-page label
    width: 100%

  .service h1:before
    margin: 0 15px 0 0

  .callback-page
    padding: 110px 0 50px
    .box-text
      margin: 29px 0 31px
      font-size: 20px

  .necessarily
    padding: 0
    margin: 36px 0 0

  .service
    padding: 110px 0 5px

  .basket-card__img
    width: 168px
    height: 168px

  .basket-card__body
    width: calc(100% - 168px)

  .basket-card__name
    font-size: 14px
    margin: 0 0 17px

  .sum
    font-size: 24px
    font-weight: 800

  .sum-currency
    margin: 0 0 0 17px
    width: 15px
    height: 17px

  .dropdown-wrapper
    display: block

  .js-tab-content
    padding: 40px 0

  .video-slider .slick-center .video-box
    width: 418px
    margin: 20px -40px

  .video-box
    height: 250px
    width: 318px

  .ui
    display: none

  .header-product
    .logo
      background: transparent
      img
        display: block

  .product-gallery .slick-current .product-gallery__box
    max-width: 300px

  .product-gallery .slick-sprev .product-gallery__box img, .product-gallery .slick-snext .product-gallery__box img
    width: 270px

  .product-gallery .slick-sprev2 .product-gallery__box img, .product-gallery .slick-snext2 .product-gallery__box img
    width: 180px

  .cloudimage-360-prev
    left: -35px

  .cloudimage-360-next
    right: -35px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 670px)
  .list-message
    display: none

  header
    .logo
      margin: 0 auto 0 0

  .btn-burger
    margin: 0 0 0 39px

  .logo
    max-width: 195px

  .home-slider__box-img
    max-width: 100%

  .basket
    .title-line
      .links
        display: none

  .basket-card
    border: none
    .list-info
      display: none

  .basket-card__body-item
    width: 100%

  .d-desktop
    display: none
    
  .basket-card__body-item-last
    justify-content: flex-end
    display: flex
    flex-wrap: wrap
    text-align: left
    .sum
      width: 100%

  .price-val
    font-size: 20px
    margin: 13px 0 20px
    width: 100%

  .amount
    margin: 0 0 0 24px
    border-radius: 4px
    span
      background: #fff
    .up
      border-radius: 0 4px 4px 0
    .down
      border-radius: 4px 0 0 4px
    input
      font-size: 17px

  .links-delete-order
    display: inline-block
    font-size: 15px
    margin: auto 0 0
    color: $text
    &:hover
      color: $accent

  .basket-total__item
    padding: 0
    background: transparent
    margin: 0 0 38px
    .btn
      margin: 33px auto 0

  .links-next-order
    text-align: center
    width: 100%
    font-size: 15px
    color: #0451BF
    display: block
    margin: 43px auto 0
    
  .list-orders li p, .list-orders li span
    background: #fff

  .links-come
    display: none

  .dropdown-wrapper .price-val
    width: auto
    font-size: 26px

  .label-promo
    .input-text
      font-size: 14px
      color: $accent
    input
      border: 3px solid $text
        radius: 4px
      width: 110px
      height: 27px

  label
    margin: 0 0 20px

  .info-promo .svg-icon
    width: 25px
    height: 25px



  .radio-order
    border: none
    min-height: auto
    padding: 0 0 0 45px
    color: #000
    font-size: 17px
    .radio-custom
      right: auto
      left: 0
      top: 0
      width: 28px
      height: 28px
      border: 3px solid $text

  .label-wrapper
    padding: 0

  .list-radio-order
    li
      width: 100%
      max-width: none
      margin: 0 0 26px
      &:last-child
        margin: 0


  .date-delivery
    margin: 4px 0 0
    font-size: 13px

  .btn-score
    font-size: 23px

  .list-radio-delivery
    margin: 0 0 25px
    justify-content: space-between
    li
      max-width: 49%
      margin: 0
      .radio
        min-height: 130px
        padding: 14px 8px 8px

        border-radius: 10px
        flex-direction: column
        align-items: center
        text-align: center
      .radio-custom
        width: 100%
        height: 100%
        border-radius: 10px
        left: 0
        top: 0
        border: none
      .label
        margin: 0 auto 13px
        display: block
      .radio-inp:checked
        + .radio-custom
          background: #999999
          &:before
            display: none
        ~ .label-wrapper .date-delivery
            color: #fff
        ~ .label-wrapper .price-delivery
            color: #fff
            .sum-currency
              fill: #fff
      .label-wrapper
        position: relative
        z-index: 2
        display: inline-block
      .radio-icon
        display: block
        position: relative
        z-index: 1

  .radio-icon
    margin: 0 auto 16px

  .price-delivery
    justify-content: center
    text-align: center

  .news-slider
    .slick-current
      .news-slider-box
        font-size: 45px
      .news-slider-box__img
        height: 389px
    .slick-sprev
      transform: translate3d(-45%, 0, -10px)
    .slick-snext
      transform: translate3d(45%, 0, -10px)
    .slick-snext, .slick-sprev
      .news-slider-box
        font-size: 29px
      .news-slider-box__img
        height: 290px
    .slick-snext2
      transform: translate3d(90%, 0, -20px)
    .slick-sprev2
      transform: translate3d(-90%, 0, -20px)

  .cloudimage-360-prev, .cloudimage-360-next
    display: none !important

@media only screen and (max-width: 575px)
  .news-slider
    .slick-sprev
      transform: translate3d(-55%, 0, -10px)
    .slick-snext
      transform: translate3d(55%, 0, -10px)

  .copyright
    font-size: 16px
    .svg-icon
      width: 20px
      height: 20px

  .links-version
    font-size: 18px

  .test-drive
    padding: 0 0 40px
    .logo
      margin: 174px auto 37px
    h1
      font-size: 44px

  .title-description
    margin: 26px auto 28px
    font-size: 24px

  .form-test label
    margin: 0 0 20px

  .form .btn, .form button
    margin: 0 0 38px
    
  .form-test
    .btn-grey
      background: #000
      &:hover, &:focus
        background: #999999

  .modal__wrapper
    height: 100%
    margin: 0 auto

  .modal-div-message
    .modal__wrapper
      padding: 20px

  .form-group
    label
      width: 100%

  .form-service .btn
    margin: 33px 0 0

  .checkout-box .form-group label
    width: 100%

  .btn-maps-text
    display: none

  .btn-maps-preview
    margin: 0
    width: 105px
    height: 105px

  .list-address-info
    max-width: none
    width: 100%
    font-size: 17px
    .icon
      width: 26px
      min-width: 26px
      height: 26px
      margin: 0 12px 0 0

  .address-box-checkout-wrapper
    .btn-maps
      position: absolute
      right: 0
      top: 30px

  .address-box-checkout
    position: relative
    h3
      max-width: 270px

  .checkout-box h3
    font-size: 27px

  .address-slider
    padding: 0 30px
    margin: 40px 0 0
    h3
      font-size: 20px

  .address-slider-box .list-address-info
    flex-direction: column
    align-items: flex-start
    font-size: 18px
    li
      margin: 0 0 16px
      &:last-child
        margin: 0

  .product-home
    background-position: 30% top
    h1
      font-size: 50px

  .characteristics-product__slider-box
    min-height: 370px

  .name-model
    font-size: 20px
    text-align: center

  .button-group
    flex-direction: column
    align-items: center
    .btn
      margin: 0 auto 34px
      height: 77px
      max-width: 389px

  .link-file
    margin: 0 auto
    font-size: 28px

  .tab-content__item
    display: block

  .tabs, .views-tab
    display: none

  .features-content
    h2
      display: block

  .dropdown-wrapper-tabs
    display: block

  .views-section .box-text
    font-size: 19px

  .characteristics-tab-content__item
    display: block

  .characteristics-tab
    position: relative
    &:before
      content: ''
      position: absolute
      left: -30px
      top: 0
      width: calc(100% + 60px)
      background: rgba($text, .2)
      height: 77px
    .slick-center
      &:before
        content: ''
        height: 1px
        background: #000
        bottom: 0
        left: 50%
        transform: translate(-50%,0)
        width: 156px
        position: absolute
    .characteristics-tab__item.active
      color: #000

  .characteristics-tab__item
    border: none
    text-align: center
    padding: 29px 0
    font-size: 18px
    margin: 0
    //width: 100%
    position: relative
    z-index: 1
    color: #000000

  .characteristics-tab-content
    padding: 0

  .social-share-mobile
    display: block

  .home-slider__box-img
    width: 790px
    min-height: 790px
    max-width: none

  .main-home
    .container
      padding: 0

  .home-slider
    .slick-next
      right: 20px
    .slick-prev
      left: 20px

  .home-slider__box-content
    padding: 0 30px
    .list-characteristics
      margin: 0 0 278px 30px
      font-size: 16px
      p
        font-size: 36px

  .home-slider__box-name
    font-size: 59px
    margin: 0 0 28px
    min-height: 240px
    h3
      font-size: 59px
      span
        color: #fff
        display: block

  .product-gallery .slick-current .product-gallery__box
    max-width: 426px

  .product-gallery .slick-sprev .product-gallery__box img, .product-gallery .slick-snext .product-gallery__box img
    width: 299px

  .product-gallery .slick-sprev2
    transform: translate3d(-100%, -25%, -20px)

  .product-gallery .slick-snext2
    transform: translate3d(100%, -25%, -20px)

@media only screen and (max-width: 480px)
  .news-slider .slick-current .news-slider-box__img
    height: 300px

  .news-slider .slick-current .news-slider-box
    font-size: 34px

  .news-slider .slick-snext .news-slider-box, .news-slider .slick-sprev .news-slider-box
    font-size: 24px

  .news-slider .slick-snext .news-slider-box__img, .news-slider .slick-sprev .news-slider-box__img
    height: 220px

  .btn-burger
    margin: 0 0 0 10px
    width: 30px
    span
      height: 3px
      margin: 0 0 5px

  .btn-basket
    margin: 0 10px 0 0
    width: 40px
    height: 30px

  .links-cabinet
    height: 30px
    width: 31px

  .container
    padding: 0 20px

  .logo
    max-width: 150px

  .home-slider__box-name
    font-size: 30px
    min-height: 140px
    h3
      font-size: 40px

  .home-slider__box-img
    min-height: 500px
    width: 500px

  .home-slider__box-content
    .list-characteristics
      margin: 0 0 160px 10px

  .list-characteristics
    li
      p
        font-size: 24px

  .home-slider__box-content .btn
    font-size: 20px
    height: 60px

  .main-home
    padding: 100px 0 0

  .catalog-menu .btn-service, .catalog-menu .callback-box .phone
    font-size: 22px

  .news-slider .slick-active + .slick-center .news-slider-box
    font-size: 30px

  .news-slider .slick-active + .slick-center + .slick-slide .news-slider-box
    font-size: 18px

  .news-slider-box
    min-height: 350px

  h2
    font-size: 30px

  .popular-slider-box
    font-size: 30px

  .popular-slider .slick-center .popular-slider-box
    width: 280px
    padding: 40px 0 0
    margin: 0 -40px

  .about
    background-position: center
    margin: 0 0 20px

  .about h2, .about .title-line p
    font-size: 34px

  .list-social li a
    padding: 18px
    width: 60px
    height: 60px

  .copyright
    font-size: 14px

  .modal__wrapper
    padding: 60px 20px 40px

  .form-callback .checkbox
    margin: 30px auto

  .checkbox
    font-size: 18px

  .modal__wrapper .box-text
    font-size: 16px
    margin: 20px auto

  .modal__wrapper h2
    font-size: 30px

  .page h1
    font-size: 30px

  h2
    &:before
      width: 8px
      height: 37px
      min-width: 8px

  .form .btn, .form button
    font-size: 24px

  .politics h2
    font-size: 32px
    margin: 0 0 30px
    padding: 0

  .form-service .btn
    margin: 50px 0 0

  .btn-basket__val
    width: 20px
    height: 20px
    font-size: 12px

  .video-slider .slick-center .video-box
    width: 270px
    margin: 20px -20px

  .video-box
    height: 170px
    width: 230px

  .btn-play
    width: 36px
    height: 36px



  .js-tab-content h2
    margin: 0 0 30px

  .product-home h1
    font-size: 40px

  .list-characteristics-product li
    padding: 5px 15px 5px 0
    margin: 0 10px 0 0
    p
      font-size: 20px

  .product-gallery .slick-current .product-gallery__box
    max-width: 320px

/* Custom, iPhone Retina */
@media only screen and (max-width: 420px)
  .about .box-text
    font-size: 16px
    line-height: 1.2

  .about-slider
    margin: 30px 0 0

  .about .title-line p, .about .title-line h2
    font-size: 28px

  .gallery-slider
    .slick-center
      transform: scaleX(.9) scaleY(1)

  .gallery-slider__box
    height: 200px

  .btn-service
    font-size: 20px

  .list-social li a
    width: 50px
    height: 50px
    padding: 12px

  .basket-card__img
    width: 120px
    height: 120px

  .basket-card__body
    width: calc(100% - 120px)

  .btn-score
    font-size: 18px

  .address-box-checkout-wrapper
    position: relative

  .address-box-checkout-wrapper .btn-maps-preview
    width: 60px
    height: 60px

  .address-box-checkout-wrapper .btn-maps
    top: 0

  .list-address-info
    max-width: 260px

  .list-info-prod, .characteristics-tab-content__item .box-text
    font-size: 16px

  .product-home h1
    font-size: 30px

  .product-gallery .slick-current .product-gallery__box
    max-width: 250px


  .product-gallery .slick-sprev .product-gallery__box img, .product-gallery .slick-snext .product-gallery__box img
    width: 200px