@import "fonts"
@import "vars"

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

//*::-webkit-input-placeholder
//  color: #000
//  opacity: 1
//
//*:-moz-placeholder
//  color: #000
//  opacity: 1
//
//*::-moz-placeholder
//  color: #000
//  opacity: 1
//
//*:-ms-input-placeholder
//  color: #000
//  opacity: 1
//
//body input:focus:required:invalid,
//body textarea:focus:required:invalid
//  color: #000
//
//body input:required:valid,
//body textarea:required:valid
//  color: #000

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  font: inherit
  vertical-align: baseline

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
  display: block

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: normal
  font-family: $default-font
  font-weight: normal

html, body
  overflow-x: hidden

img
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

a
  display: block
  text-decoration: none
  transition: .3s ease
  outline: none

  &:hover, &:focus
    text-decoration: none

input, textarea, select
  outline: none
  box-shadow: none
  appearance: none
  box-sizing: border-box
  font-family: $default-font
  border: 2px solid #000
  height: 60px
  width: 100%
  padding: 0 19px
  font-size: 20px
  color: #000
  background: transparent

  &::placeholder
    color: #000

  &:hover, &:focus
    outline: none

textarea
  height: 190px
  padding: 19px

label
  display: block
  width: 100%
  margin: 0 0 28px
  position: relative

  &:last-child
    margin: 0

.container
  max-width: 1600px
  width: 100%
  padding: 0 50px
  margin: 0 auto
  position: relative
  display: flex
  flex-wrap: wrap

.color-red
  color: $accent

.color-grey
  color: $text

.align-center
  align-items: center

.justify-between
  justify-content: space-between

.svg-icon
  display: inline-block
  width: 100%
  height: 100%
  transition: .3s ease

.btn, button
  display: flex
  align-items: center
  justify-content: center
  border: none
    radius: 0
  padding: 0
  font-family: $default-font
  cursor: pointer
  transition: .3s ease
  text-align: center
  height: 75px
  font-size: 26px
  font-weight: 800
  width: 100%

.btn-accent
  background: $accent
  color: #fff

  &:hover
    background: $hover
    color: #fff

.btn-grey
  background: #999999
  color: #fff

  &:hover
    background: $accent
    color: #fff

.btn-shadow
  box-shadow: 0 0 5px rgba(#000, .75)

h1
  width: 100%
  font-size: 52px
  display: flex
  align-items: flex-start

  &:before
    content: ''
    display: inline-block
    margin: 5px 19px 0 0
    width: 9px
    height: 44px
    background: $accent


//slider
.slick-slide
  outline: none

.slick-arrow
  width: 15px
  height: 25px
  opacity: 1
  z-index: 1
  outline: none
  transition: .3s ease

  svg
    width: 100%
    height: 100%
    fill: $text
    transition: .3s ease

  &:before
    display: none

  &:hover, &:focus
    svg
      fill: $accent

.slick-next
  right: 0

.slick-prev
  left: 0

.slick-dots
  width: 100%
  display: flex
  align-items: center

  li
    width: 9px
    height: 9px
    border-radius: 50%
    background: #fff
    margin: 0 26px 0 0
    cursor: pointer
    outline: none
    transition: .3s ease

    &:last-child
      margin: 0

    button
      display: none

  .slick-active
    width: 11px
    height: 11px
    background: $accent

.slick-dotted.slick-slider
  margin-bottom: 0

.w-100
  width: 100%

h2
  font-size: 52px
  width: 100%
  text-align: center

.title-line
  text-align: center
  width: 100%

  p
    font-size: 52px
    text-align: center
    width: 100%

//header
header
  padding: 34px 0
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 3

header.active, .header
  .menu
    li
      a
        color: #fff

      .click
        color: $accent

  .list-message, .header-box
    .svg-icon
      fill: #fff


.catalog-menu
  display: none
  position: absolute
  left: 0
  top: 0
  padding: 198px 0 260px
  z-index: 2
  background: rgba(#000, .9)
  width: 100%

  .container
    align-items: flex-start
    justify-content: space-between

  .callback-box
    margin: 0
    max-width: 444px
    width: 100%

  .btn-service
    font-size: 28px
    margin: 30px 0 0

    .svg-icon
      width: 23px
      height: 23px
      margin: 0 19px 0 0

  .phone
    display: none

.catalog-menu-wrapper
  display: flex
  align-items: flex-start
  flex-wrap: wrap

  a
    color: #fff

.catalog-menu-box
  display: flex
  flex-direction: column
  align-items: flex-start
  margin: 0 95px 0 0

  &:last-child
    margin: 0

.catalog-menu-box__title
  margin: 0 0 30px
  border-left: 9px solid $accent
  padding: 0 0 0 13px
  font-size: 27px
  font-weight: 800

.catalog-menu__list
  font-size: 20px
  font-weight: 800
  padding: 0 0 0 20px

  li
    margin: 0 0 24px

    &:last-child
      margin: 0

    a
      &:hover
        color: $accent


.logo
  max-width: 232px
  width: 100%
  @include display-center-center

.menu
  font-size: 18px
  font-weight: 800
  @include display-center

  li
    margin: 0 65px 0 0

    &:last-child
      margin: 0

    a
      color: $text

      &:hover, &:focus
        color: $accent

.list-message
  @include display-center

  li
    margin: 0 33px 0 0

    &:last-child
      margin: 0

    a
      width: 37px
      height: 31px
      @include display-center-center

      .svg-icon
        fill: $text

      &:hover, &:focus
        .svg-icon
          fill: $accent

.header-box
  @include display-center

  a
    .svg-icon
      fill: $text

    &:hover, &:focus
      .svg-icon
        fill: $accent

  .active
    .svg-icon
      fill: $accent


.btn-basket
  position: relative
  width: 47px
  height: 42px
  margin: 0 56px 0 0

.links-cabinet
  width: 37px
  height: 44px

.btn-basket__val
  width: 29px
  height: 29px
  position: absolute
  border-radius: 50%
  background: #000
  color: #fff
  font-size: 19px
  font-weight: 800
  top: -5px
  right: -8px
  @include display-center-center

//main home
.main-home
  background: url("../img/bg-slider1.png") no-repeat left top
    size: contain
  padding: 80px 0 0
  position: relative
  margin: 0 0 13px

  .container
    position: relative

  .counter-slide
    position: absolute
    right: 60px
    bottom: 30px

.home-slider__box
  display: flex
  align-items: flex-end
  justify-content: space-between
  flex-wrap: wrap


.home-slider__box-img
  width: 750px
  min-height: 750px
  position: relative
  @include display-center-center


.home-slider__box-content
  width: calc(100% - 750px)
  padding: 0 0 50px
  .box-text
    color: $text
    margin: 0 0 45px
    min-height: 150px
    font-weight: 900
    max-width: 575px
    width: 100%
    line-height: 21px

  .btn
    max-width: 239px


.home-slider
  .slick-dots
    left: 0
    bottom: 50px
    z-index: 1

.home-slider__box-name
  font-size: 49px
  margin: 0 0 35px
  font-weight: 800
  min-height: 130px
  h3
    font-size: 52px

.list-characteristics
  margin: 0 auto 80px
  //min-height: 120px
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap
  font-weight: 800
  width: 100%

  p
    margin: 0 0 5px
    font-size: 36px
    font-weight: 900
    color: $accent

.counter-slide
  display: flex
  align-items: flex-end
  justify-content: flex-end
  flex-wrap: wrap
  width: 100%
  font-size: 21px
  font-weight: 900

.counter-slide__cp
  font-size: 38px
  color: $accent
  margin: 0 3px 0 0

//about
.about
  margin: 57px 0 66px
  background: url("../img/about-bg.png") no-repeat top right
    size: cover
  color: #ffffff
  padding: 40px 0

  .box-text
    margin: 50px 0
    max-width: 1040px
    width: 100%
    font-weight: 800
    font-size: 19px
    line-height: 26px
    text-shadow: 16px 8px 4px rgba(#fff, .1)

    h3
      margin: 30px auto
      font-size: 23px

//.gallery
.gallery
  margin: 0 0 40px

.gallery-slider
  margin: 140px 0

  .slick-center
    .gallery-slider__box
      opacity: 1
      width: 730px
      height: 447px
      box-shadow: 0 0 20px $accent

      img
        height: 100%
        object-fit: cover

    .gallery-slider__box-name
      display: block

.gallery-wrapper
  position: relative

.gallery-slider__nav
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  width: 100%
  max-width: 940px

  svg
    fill: $accent

.gallery-slider__box
  position: relative
  display: flex
  align-items: center
  justify-content: center
  width: 584px
  height: 447px
  opacity: .39
  margin: 20px 30px

  img
    width: 100%
    max-height: 100%

.gallery-slider__box-name
  position: absolute
  z-index: 1
  font-size: 29px
  font-weight: 800
  text-shadow: 16px 8px 4px rgba($accent, .1)
  bottom: 0
  left: 0
  padding: 10px
  box-sizing: border-box
  color: #fff
  transition: .3s ease
  display: none

//footer
footer
  background: #000
  color: #fff
  padding: 110px 0 80px

  .logo
    max-width: 310px

  .container
    align-items: flex-start
    justify-content: space-between

.footer-top
  margin: 0 0 120px

.copyright
  width: 100%
  display: flex
  align-items: center
  flex-wrap: nowrap
  font-size: 22px
  font-weight: 800

  .svg-icon
    width: 31px
    height: 31px
    fill: #fff
    margin: 0 11px 0 0

.box-social
  font-size: 23px

.list-social
  margin: 19px 0 22px
  @include display-stretch

  li
    margin: 0 18px 0 0

    &:last-child
      margin: 0

    a
      background: $accent
      width: 97px
      height: 97px
      padding: 33px 23px
      @include display-center-center

      .svg-icon
        fill: #fff

      &:hover
        background: $hover

.btn-share
  color: #fff
  font-size: 28px
  font-weight: 800
  @include display-center

  .svg-icon
    width: 22px
    height: 24px
    fill: #fff
    margin: 0 8px 0 0

.footer-menu
  font-size: 21px
  font-weight: 800

  li
    margin: 0 0 23px

    &:last-child
      margin: 0

    a
      color: #fff

      &:hover
        color: $hover

.footer-box
  h3
    margin: 0 0 38px
    font-size: 30px
    font-weight: 800

.cooperation-links
  color: $text
  font-size: 30px
  font-weight: 800

.phone, .mail
  @include display-center
  color: #fff
  font-size: 28px
  font-weight: 900

  .svg-icon
    fill: #fff
    width: 35px
    height: 35px
    margin: 0 18px 0 0

.phone
  margin: 0 0 29px

.callback-box
  margin: 110px 0 0

.btn-callback
  height: 99px
  max-width: 444px
  font-size: 34px

.btn-service
  margin: 18px 0 0
  font-size: 35px
  color: #fff
  @include display-center

  .svg-icon
    width: 40px
    height: 40px
    margin: 0 23px 0 0
    fill: #fff

  &:hover
    color: $accent

    .svg-icon
      fill: $accent

//popular
.popular
  margin: 37px 0 57px

.popular-slider
  margin: 38px auto 0

  .slick-dots
    justify-content: center
    position: relative
    bottom: 0
    margin: 45px auto 0

    li
      background: #D6D6D6
      width: 7px
      height: 7px
      margin: 0 30px 0 0

      &:last-child
        margin: 0

    .slick-active
      background: $accent
      width: 9px
      height: 9px

.popular-slider-box__img
  opacity: .8
  height: 272px

  img
    max-height: 100%

.popular-slider-box
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  color: $text
  font-size: 34px
  font-weight: 800
  transition: .3s ease
  cursor: pointer

  &:hover
    color: $accent

    .popular-slider-box__img
      opacity: 1

.links-all
  color: $text
  font-size: 32px
  @include display-center

  .svg-icon
    margin: 0 0 0 16px
    width: 9px
    height: 15px
    fill: $text

  &:hover
    color: $hover

    .svg-icon
      fill: $hover

//.news
.news
  .title-line
    position: relative
    margin: 0 0 12px

    .links-all
      position: absolute
      right: 0
      top: 50%
      transform: translate(0, -50%)

.news-slider-box
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  text-align: center
  font-size: 18px
  font-weight: 800
  height: 358px
  opacity: .5
  color: $text

.news-slider-box__name
  opacity: .3
  position: relative
  padding: 15px 0 0
  margin: 5px auto 0

  &:before
    content: ''
    position: absolute
    left: 50%
    top: 0
    transform: translate(-50%, 0)
    height: 10px
    background: $text
    width: 3px

.news-slider-box__img
  height: 160px
  @include display-center-center

  img
    max-height: 100%


.news-slider
  max-width: 1100px
  width: 100%
  margin: 0 auto

  .slick-center
    .news-slider-box__img
      height: 290px

    .news-slider-box
      opacity: 1
      font-size: 34px

    .news-slider-box__name
      opacity: 1
      color: $accent
      padding: 28px 0 0

      &:before
        background: #000
        height: 18px


.slick-slider-opacity
  .news-slider-box
    opacity: .79
    font-size: 22px

  .news-slider-box__img
    height: 215px

  .news-slider-box__name
    opacity: .5
    padding: 18px 0 0

    &:before
      height: 12px

//pages
.page
  padding: 140px 0 110px

.cooperation
  background: url("../img/bg-cooperation.jpg") no-repeat center
    size: cover
  color: #fff

  h1
    margin: 0 0 59px

.cooperation-content
  font-size: 17px
  width: calc(100% - 640px)
  padding: 0 118px 0 0

  .box-text
    p
      margin: 0 0 20px

      &:last-child
        margin: 0

.callback-item
  width: 640px
  background: rgba(#fff, .84)
  padding: 35px 95px

  h3
    text-align: center
    width: 100%
    font-size: 25px
    margin: 0 auto 19px
    display: none
    color: #000

.form
  display: flex
  flex-direction: column
  width: 100%
  max-width: 444px
  margin: 0 auto
  align-items: flex-start

  .btn, button
    margin: 0 auto 17px
    height: 99px
    font-size: 34px

    &:last-child
      margin: 0 auto

.form-test
  input
    border-color: #fff
    color: #fff

    &::placeholder
      color: #fff

  label
    margin: 0 0 35px

//modal
.overlay
  z-index: 100
  position: fixed
  background-color: #000
  width: 100%
  height: 100%
  top: 0
  left: 0
  cursor: pointer
  display: none

.modal__div
  position: fixed
  //max-width: 620px
  width: 100%
  height: 100%
  top: 45%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 101
  overflow: auto
  justify-content: center
  align-items: center
  flex-direction: column
  display: none
  opacity: 0


.modal__wrapper
  width: 100%
  max-width: 620px
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  position: relative
  background: #fff
  padding: 90px 50px 55px
  overflow-y: auto
  margin: 20px auto

  h2
    font-size: 40px
    font-weight: 800

  .links-accent
    text-align: center
    margin: 0 auto 10px

  .mr-auto
    margin: 0 auto 0 0

  .m-0
    margin: 0

  .box-text
    font-size: 19px
    margin: 72px auto 37px
    text-align: center
    max-width: 510px
    width: 100%

.modal__body
  width: 100%
  min-height: 240px
  background: #fff
  height: auto
  overflow: auto
  box-sizing: border-box
  position: relative


.modal__close
  position: absolute
  width: 20px
  height: 20px
  cursor: pointer
  top: 20px
  right: 20px
  z-index: 1
  transition: .3s ease
  display: flex
  align-items: center
  justify-content: center

  &:hover
    &:before, &:after
      background: $accent

  &:before, &:after
    content: ''
    position: absolute
    width: 100%
    height: 2px
    background: #000
    top: 10px
    left: 0

  &:before
    transform: rotate(45deg)

  &:after
    transform: rotate(135deg)

.links-accent
  color: $accent

  &:hover
    color: $hover

.modal-div-message
  .modal__wrapper
    padding: 80px 20px 10px
    display: flex
    flex-direction: column
    align-items: center

  h2
    margin: 0 0 20px

  .box-text
    margin: auto
    font-size: 22px
    max-width: 384px
    width: 100%

  .modal__footer
    .m-a
      margin: 0 auto

    .mr-auto
      margin: 0 auto 0 0


.modal__footer
  display: flex
  align-items: center
  justify-content: space-between
  margin: 37px 0 10px
  width: 100%

  .text-right
    text-align: right

  .m-a
    margin: 0 auto

//.test-drive
.test-drive
  background: url("../img/bg-test.jpg") no-repeat center
    size: cover
  color: #fff
  padding: 0 0 65px

  .logo
    margin: 53px auto 43px

  .container
    flex-direction: column
    align-items: center

  h1
    text-align: center
    margin: 0 auto
    padding: 0
    justify-content: center

    &:before
      display: none

.title-description
  text-align: center
  margin: 31px auto 41px
  max-width: 376px
  width: 100%
  font-size: 28px

.checkbox
  display: flex
  align-items: flex-start
  width: 100%
  margin: 0
  font-size: 23px
  color: #000

  a
    display: inline

.checkbox-inp
  display: none

.checkbox-custom
  width: 26px
  height: 26px
  margin: 0 8px 0 0
  min-width: 26px
  border: 2px solid #000
  position: relative
  cursor: pointer

.checkbox-inp:checked + .checkbox-custom
  border-color: #2FB457

  &:before
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background: url("../img/checkbox.svg") no-repeat center
      size: contain
    left: 0
    top: 0

.radio
  display: flex
  align-items: center
  font-size: 20px
  color: #000


.radio-inp
  display: none

.radio-custom
  margin: 0 5px 5px 0
  width: 15px
  height: 15px
  min-width: 15px
  border: 2px solid #000
    radius: 50%
  cursor: pointer

.radio-inp:checked + .radio-custom
  background: #2FB457
  border-color: #2FB457

.label-group
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  margin: 0 0 25px
  font-size: 20px
  color: #000


.list-radio
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 14px 0 0

  li
    margin: 0 20px 0 0

    &:last-child
      margin: 0

.form-callback
  input
    color: #000
    border-color: $text

    &::placeholder
      color: $text

  .checkbox
    margin: 65px 0 55px

    a
      margin: 0


//politics
.politics
  padding-bottom: 20px

  h1
    margin: 0 0 47px

  .box-text
    font-size: 19px

    p
      margin: 0 0 10px

      &:last-child
        margin: 0

.target-politics
  max-width: 1050px
  width: 100%
  margin: 40px 0 0

  h2
    margin: 0 0 18px

//.authorization
.authorization
  padding: 124px 0 120px

  h1
    margin: 0 0 29px

.authorization-img
  margin: 0 0 0 auto
  max-width: 878px
  width: 100%
  opacity: .29

.authorization-content
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  width: calc(100% - 878px)

  .form
    margin: 0

.btn-view
  position: absolute
  top: 50%
  right: 13px
  transform: translate(0, -50%)
  width: 21px
  height: 13px
  cursor: pointer

.line-wrapper
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 0 43px
  font-size: 24px

  a
    display: inline
    margin: 0 0 0 5px

.links-reset
  margin: 0 0 52px
  font-size: 24px

//password-reset
.password-reset
  h1
    padding: 0
    font-size: 42px
    font-weight: normal
    text-align: center
    justify-content: center

    &:before
      display: none

  .box-text
    text-align: center
    margin: 40px auto
    font-size: 22px

//registration
.registration
  padding: 60px 0 20px

  .title-line
    display: flex
    align-items: center
    justify-content: space-between
    margin: 0 0 45px

  h1
    width: auto
    margin: 0

    &:before
      order: 1
      margin: 5px 0 0 15px

.form-registration
  .checkbox
    margin: 0 0 24px

.registration-content
  max-width: 600px
  width: 100%
  text-align: center
  margin: 0 0 30px auto
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end

  .copyright
    font-size: 20px
    font-weight: normal
    margin: 250px auto 0
    justify-content: center

  .box-text
    font-size: 20px
    margin: 30px auto 0

//.service
.service
  h1
    margin: 0 0 20px

    &:before
      margin: 5px 51px 0 0

.form-service
  max-width: none

.form-group
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 0 0 20px

  label
    width: 24.5%
    margin: 0 40px 20px 0

    &:last-child
      margin: 0 0 20px

  .checkbox:last-child
    margin: 0

  .label-message
    width: 100%
    max-width: 1016px


.necessarily
  margin: 26px 0 0
  color: $text
  font-size: 15px
  padding: 0 0 0 20px

.input-title
  width: 100%
  margin: 0 0 19px
  font-size: 24px
  display: block

.form-service
  input, textarea
    color: $text
    border-color: $text
    border-width: 1px
    font-size: 18px
    padding: 0 15px

    &::placeholder
      color: $text

  input
    height: 58px

  textarea
    height: 116px
    padding: 20px 17px

  button, .btn
    height: 66px
    font-size: 21px
    max-width: 24.5%
    margin: 0

  .checkbox
    font-size: 18px
    width: 75.5%
    padding: 0 0 0 40px

  .checkbox-custom
    width: 18px
    height: 18px
    min-width: 18px
    border-color: $text
    border-width: 1px

.select
  width: 100%
  height: 58px
  background: #fff
  border: 1px solid $text
  font-size: 18px
  color: $text
  padding: 0 15px

.label-select
  position: relative

.select-icon
  position: absolute
  top: 50%
  right: 15px
  transform: translate(0, -50%)
  width: 20px
  height: 12px
  background: url("../img/arrow-bottom.svg") no-repeat center
    size: contain

.input-icon
  width: 17px
  height: 20px
  position: absolute
  right: 16px
  top: 50%
  transform: translate(0, -50%)

.modal-iframe
  display: none
  width: 100%
  height: 100%
  padding: 0

.btn-maps
  margin: 0 0 20px auto
  display: flex
  align-items: center
  font-size: 22px
  color: #000

.btn-maps-icon
  margin: 0 0 0 20px
  width: 20px
  height: 12px
  display: flex
  align-items: center
  justify-content: center

.map
  width: 100%
  height: 100%

.fancybox-slide--html .fancybox-close-small
  padding: 0
  top: 28px
  right: 52px

.fancybox-close-small
  opacity: 1


.fancybox-slide--html
  padding: 0

//callback-page
.callback-page
  .box-text
    margin: 53px 0 80px
    font-size: 18px

.form-callback-page
  label
    width: 21.7%

.align-items-start
  align-items: flex-start

//basket
.basket
  h1
    width: fit-content
    margin: 0

  .title-line
    margin: 0 0 15px
    justify-content: space-between
    display: flex
    align-items: flex-end
    flex-wrap: wrap

.links
  width: fit-content

  &:hover
    color: $accent

.basket-wrapper
  width: calc(100% - 446px)
  padding: 0 40px 0 0

.basket-card
  border-top: 1px solid $text
  padding: 21px 0 0
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  position: relative

.basket-card__img
  @include display-center-center
  width: 292px
  height: 292px

.basket-card__body
  max-width: 534px
  width: calc(100% - 292px)
  position: relative
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

.basket-card__body-item
  font-size: 19px

.basket-card__name
  color: #000
  margin: 0 0 65px

.list-info
  color: $text

  li
    margin: 0 0 18px

    &:last-child
      margin: 0

.btn-delete
  @include display-center-center
  width: 23px
  height: 23px
  border-radius: 50%
  background: $text
  margin: 0 0 27px auto
  position: relative
  transition: .3s ease

  &:before, &:after
    content: ''
    position: absolute
    width: 9px
    height: 2px
    background: #fff
    top: 11px
    left: 7px

  &:before
    transform: rotate(45deg)

  &:after
    transform: rotate(135deg)

.basket-card__body-item-last
  text-align: right

.amount
  display: flex
  align-items: center
  width: 108px
  height: 37px
  background: rgba($text, .47)
  font-size: 20px
  padding: 3px
  margin: 90px 0 0 auto

  input
    background: transparent
    border: none
    height: 100%
    font-weight: 800
    font-size: 20px
    padding: 0
    text-align: center

  span
    width: 32px
    height: 100%
    min-width: 32px
    cursor: pointer
    transition: .3s ease
    display: flex
    align-items: center
    justify-content: center

    &:hover
      color: $accent

  .up
    background: #fff

.sum
  display: flex
  align-items: center
  font-size: 28px
  font-weight: 800

.sum-currency
  margin: 0 0 0 20px
  width: 18px
  height: 19px
  display: flex
  align-items: center
  justify-content: center

.price-val
  margin: 13px 0 0
  color: $text

.basket-total
  width: 446px

  .links
    text-align: right
    margin: 0 0 0 auto

.links-next-order, .links-delete-order
  display: none

.basket-total__item
  width: 100%
  background: rgba($text, .47)
  padding: 39px 20px 37px
  margin: 80px 0 6px

  .btn
    height: 63px
    font-size: 24px
    margin: 36px auto 0

.list-orders
  width: 100%
  font-size: 22px
  //color: rgba(#000, .8)
  line-height: 1

  li
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    position: relative

    &:before
      content: ''
      position: absolute
      bottom: 4px
      left: 0
      border-bottom: 1px dotted rgba(#000, .8)
      width: 100%
      height: 1px

    p, span
      position: relative
      background: #cfcfcf
      z-index: 1

.list-orders__val
  display: flex
  align-items: center

  .sum-currency
    margin: 0 0 0 9px
    width: 13px
    height: 14px

.list-orders-name
  font-size: 19px
  margin: 15px 0 8px

.basket-total__item-total
  display: flex
  align-items: center
  justify-content: flex-end
  margin: 0 0 50px
  font-size: 23px
  color: $text
  line-height: 1

  .sum-currency
    fill: $text
    margin: 0 0 0 4px
    width: 13px
    height: 14px

//checkout
.checkout-wrapper
  max-width: 609px
  padding: 0
  margin: 0 auto 0 0

  button
    margin: 53px 0 0 auto
    max-width: 370px
    height: 82px
    font-size: 28px

.checkout-box
  margin: 0 0 45px

  &:last-child
    margin: 0

  h3
    width: 100%
    margin: 0 0 14px
    font-size: 24px

  .form-group
    justify-content: space-between
    margin: 0

    label
      width: 48%
      margin: 0 0 23px

    input
      border: 2px solid $text
      color: $text
      font-size: 20px
      font-weight: normal

      &:focus
        border-color: #2FB457

      &::placeholder
        color: $text

    .input-icon
      width: 29px
      height: 29px
      fill: $accent

    .w-100
      width: 100%

    .input-title
      margin: 0 0 8px
      font-size: 20px
      color: $text
      font-weight: normal


.info-payment
  display: flex
  align-items: flex-start
  color: #202124
  font-size: 14px
  margin: 0 0 20px
  font-weight: 100

  .svg-icon
    width: 29px
    min-width: 29px
    height: 29px
    fill: #2FB457
    margin: -6px 8px 0 0


.list-radio-order
  align-items: stretch
  justify-content: space-between

  li
    max-width: 290px
    width: 100%
    margin: 0 0 19px 0

    &:last-child
      margin: 0 0 19px

.radio-icon
  width: 28px
  min-width: 28px
  height: 23px

.radio-order
  height: 100%
  align-items: flex-start
  padding: 17px 18px 12px
  cursor: pointer
  border: 2px solid $text
  min-height: 137px

  .radio-custom
    position: absolute
    margin: 0
    width: 22px
    height: 22px
    min-width: 22px
    right: 11px
    top: 12px

  .radio-inp:checked + .radio-custom
    &:before
      content: ''
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      background: #fff
      width: 8px
      height: 8px
      border-radius: 50%

.radio-order.check
  border-color: #2FB457

.label-wrapper
  padding: 10px 12px 0
  font-size: 16px

.date-delivery
  margin: 18px 0 0
  color: $text
  display: block

.price-delivery
  display: flex
  align-items: center
  color: $text

  .sum-currency
    fill: $text
    width: 8px
    height: 9px
    margin: 0 0 0 5px

.address-box-checkout-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

  .btn-maps
    display: flex
    flex-direction: column
    align-items: center
    font-size: 14px
    color: #4F8DDB
    margin: -20px 0 0

.btn-maps-preview
  margin: 0 auto 12px
  width: 190px
  height: 190px
  display: flex
  align-items: center
  justify-content: center

.list-address-info
  font-size: 16px

  li
    display: flex
    align-items: center
    margin: 0 0 14px

    &:last-child
      margin: 0

  .icon
    width: 19px
    height: 19px
    margin: 0 14px 0 0

  p
    max-width: 276px

.icon-info
  fill: #2FB457

.text-attention
  font-weight: 900

  .svg-icon
    fill: #FDB913

.btn-score
  margin: 34px 0 0
  height: 60px
  max-width: 290px
  width: 100%
  font-size: 16px
  color: #333
  border: 2px solid $text
  font-weight: normal

  &:hover, &:focus
    border-color: #2FB457

  span
    color: $text
    margin: 0 0 0 5px


.label-promo
  input
    height: 32px
    width: 129px
    border: 4px solid $text
    margin: 0 10px 0 0

    &:focus
      border-color: #2FB457

.input-text
  font-size: 16px
  color: rgba($text, .7)

.info-promo
  display: flex
  align-items: flex-start
  margin: 23px 0 0
  font-size: 14px

  a
    display: inline
    color: #4F8DDB

  .svg-icon
    width: 29px
    height: 29px
    fill: #FDB913
    margin: 0 12px 0 0

.important-info
  margin: 37px 0 0
  font-size: 10px
  max-width: 602px

.total-info-checkout
  font-size: 24px

  li
    margin: 0 0 15px

    &:last-child
      margin: 0

    p, span
      background: #fff

  .sum-currency
    width: 15px
    height: 16px

.color-green
  color: #2FB457

  .svg-icon
    fill: #2FB457

.font-bold
  font-weight: 900

//page product
.product-home
  background: url("../img/bg-product.jpg") no-repeat center
    size: cover
  min-height: 904px
  padding: 100px 0 30px
  display: flex
  align-items: stretch

  .container
    //height: 100%
    flex-direction: column
    align-items: flex-start
    justify-content: flex-end

  h1
    font-size: 75px
    text-shadow: 16px 8px 4px rgba(#fff, .1)
    color: #fff

    &:before
      display: none

  .list-characteristics
    width: auto
    margin: 0

  .btn
    max-width: 421px
    height: 66px

.product-home__line
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  border-top: 2px solid #fff
  padding: 40px 0 0 70px


.list-characteristics-product
  color: $accent

  p
    color: #fff

  li
    padding: 10px 30px 10px 0
    border-right: 2px solid #fff
    margin: 0 30px 0 0

    &:last-child
      border: none
      padding-right: 0
      margin: 0

.js-tab-content
  display: none
  padding: 48px 0 80px

  h2
    position: relative
    padding: 0 0 0 50px
    margin: 0 0 50px
    text-align: left

    &:before
      content: ''
      position: absolute
      left: 0
      top: 4px
      width: 9px
      height: 44px
      background: $accent

.js-tab-content.active
  display: block

.tab-header__item.active, .characteristics-tab__item.active
  color: $accent
  border-bottom-color: $accent

.tabs
  background: rgba(#000, .91)

.tab-header__item
  color: #fff
  margin: 0 30px 0 0
  cursor: pointer
  padding: 21px 0
  border-bottom: 5px solid transparent
  transition: .3s ease

  &:last-child
    margin: 0

.tab-header
  display: flex
  align-items: stretch
  flex-wrap: wrap
  font-size: 21px
  font-weight: 800

.features-content
  background: url("../img/logo-slider.svg") no-repeat center
    size: 100%
  padding: 200px 0

.features-slider
  .slick-dots
    justify-content: center
    bottom: 0

    li
      background: #D6D6D6

    .slick-active
      background: $accent

.features-slider__box
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between

.list-characteristics__product
  font-size: 31px
  font-weight: 900
  white-space: nowrap
  display: flex
  flex-direction: column
  align-items: flex-start
  counter-reset: item

  li
    margin: 0 0 25px
    display: flex
    align-items: center

    &:before
      content: counters(item, ".") ". "
      counter-increment: item
      display: flex
      align-items: center
      justify-content: center
      text-align: center
      background: $accent
      color: #fff
      margin: 0 15px 0 0
      font-size: 29px
      border-radius: 50%
      width: 45px
      min-width: 45px
      height: 45px

    &:last-child
      margin: 0


.features-slider__box-photo
  display: flex
  align-items: center
  justify-content: center

.characteristics-product
  width: 100%

.characteristics-product__box
  max-width: 470px
  width: 100%

.name-model
  font-size: 24px
  color: $accent

.characteristics-product__slider-box
  display: flex
  align-items: center
  justify-content: center
  min-height: 380px

.characteristics-product-wrapper
  width: 100%
  padding: 0 0 0 130px
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  justify-content: space-between

.color-product
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  font-size: 18px
  width: 100%
  margin: 0 0 40px

  span
    border-radius: 50%
    margin: 0 12px 0 0
    width: 28px
    height: 28px
    min-width: 28px
    position: relative

    &:before
      content: ''
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%, -50%)
      border-radius: 50%
      width: 18px
      height: 18px

.color-product-black
  span
    background: rgba(#000, .5)

    &:before
      background: #0C0708

.button-group
  width: 100%
  display: flex
  align-items: center
  justify-content: center

.btn-card
  max-width: 195px
  height: 66px


.link-file
  display: flex
  align-items: center
  color: $text
  font-size: 21px
  font-weight: 800
  margin: 0 0 0 60px

  .svg-icon
    width: 22px
    height: 29px
    margin: 0 9px 0 0
    fill: $text

  &:hover, &:focus
    color: $accent

    .svg-icon
      fill: $accent

.characteristics-product__info
  width: calc(100% - 470px)
  padding: 0 0 0 200px

.characteristics-tab__item
  padding: 0 0 5px
  color: $text
  font-size: 21px
  text-transform: uppercase
  margin: 0 30px 0 0
  border-bottom: 5px solid transparent
  transition: .3s ease
  cursor: pointer
  font-weight: 800

  &:last-child
    margin: 0

.characteristics-tab
  width: 100%
  display: flex
  align-items: stretch
  flex-wrap: wrap


.list-info-prod
  max-width: 447px
  width: 100%
  font-size: 18px

  li
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    border-bottom: 1px solid $text
    padding: 10px 0

    &:last-child
      border: none

  span
    color: $accent
    min-width: 160px

.characteristics-tab-content
  padding: 34px 0 0

.characteristics-tab-content__item
  padding: 0
  font-size: 18px

  .box-text
    max-width: 551px
    width: 100%

    p
      margin: 0 0 30px

      &:last-child
        margin: 0


.list-appraisal
  width: 100%
  font-size: 18px

  li
    margin: 0 0 15px
    display: flex
    align-items: center
    flex-wrap: wrap

    &:last-child
      margin: 0

    p
      min-width: 136px

.list-rating
  display: flex
  align-items: center

  li
    margin: 0 4.5px 0 0
    width: 19px
    height: 19px
    display: flex
    align-items: center
    justify-content: center

    &:last-child
      margin-right: 0

    .svg-icon
      fill: $accent

  .star0
    .svg-icon
      fill: $text

.list-advantages-prod
  li
    margin: 0 0 15px

    &:last-child
      margin: 0

.views-section
  .box-text
    font-size: 18px
    max-width: 795px

.views-tab
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap


.views-tab__item
  display: flex
  align-items: center
  font-size: 27px
  color: $text
  margin: 0 48px 0 0
  cursor: pointer
  transition: .3s ease

  &:last-child
    margin: 0

  .svg-icon
    fill: $text
    margin: 0 15px 0 0
    width: 29px
    height: 29px

.views-tab__text
  display: flex
  align-items: flex-start

  .svg-icon
    width: 8px
    height: 8px

.views-tab__item.active
  color: $accent

  .svg-icon
    fill: $accent

.views-content-wrapper
  width: 100%
  margin: 60px 0 0

.threesixty-wrapper
  width: 100%
  margin: 0 auto
  position: relative
  max-width: 746px

.threesixty
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  max-width: 470px
  height: 470px
  margin: 0 auto
  position: relative

.ui
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  width: 100%

.next
  position: absolute
  right: 0
  width: 35px
  height: 33px
  fill: $text
  cursor: pointer
  transition: .3s ease

  &:hover
    fill: $accent

.prev
  position: absolute
  left: 0
  width: 35px
  height: 33px
  fill: $text
  cursor: pointer
  transition: .3s ease

  &:hover
    fill: $accent

.views-tab-content__item
  width: 100%

.views-product
  width: 100%

.threesixty-frame
  transition: .3s ease

.video-slider
  width: 100%

  .slick-dots
    justify-content: center

    li
      background: #D6D6D6

    .slick-active
      background: $accent

  .slick-center
    .video-box
      width: 651px
      margin: 20px -60px
      z-index: 1
      height: auto
      opacity: 1
      box-shadow: 0 0 20px $accent

      .btn-play
        display: flex

      img
        max-width: none


.video-box
  position: relative
  margin: 20px auto
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  height: 391px
  opacity: .74

  img
    width: 100%
    max-width: 496px

  .btn-play
    display: none

.btn-play
  width: 57px
  height: 57px
  fill: #fff
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.product-gallery
  width: 100%

  .slick-dots
    justify-content: center

    li
      background: #D6D6D6

    .slick-active
      background: $accent

.product-gallery
  .slick-dots
    justify-content: center

    li
      background: #D6D6D6

    .slick-active
      background: $accent

  .slick-slide
    min-height: 460px

  .slick-active
    z-index: 2
    position: relative
    display: flex
    align-items: center

  .slick-center
    z-index: 3
    position: relative

    .product-gallery__box
      box-shadow: 0 0 20px $accent
      opacity: 1
      z-index: 1
      margin: 20px -120px
      width: 651px
      overflow: hidden

  .slick-slider-my-style
    align-items: flex-start
    z-index: 1


.product-gallery__box
  margin: 20px -90px
  width: 458px
  display: flex
  align-items: center
  justify-content: center
  background: $text
  box-shadow: 0 0 20px rgba(#000, .4)

  img
    width: 100%

    opacity: .7

.slick-slider-my-style
  align-items: flex-start
  z-index: 1

  .product-gallery__box
    width: 372px
    margin: 50px -30px

    img
      opacity: .5

.btn-test-drive.fixed
  position: fixed
  top: 0
  right: 0

.btn-burger
  width: 46px
  display: none

  span
    display: block
    width: 100%
    height: 4px
    margin: 0 0 9px
    background: $text

    &:last-child
      margin: 0

.btn-burger.click
  span
    background: #fff

.d-mobile
  display: none

.dropdown-item
  width: 100%
  display: none
  align-items: center
  justify-content: space-between

  .svg-icon
    fill: #fff
    width: 25px
    height: 15px

  h3
    margin: 0

.links-version
  width: 100%
  text-align: right
  font-size: 22px
  font-weight: 800
  display: none
  color: #fff

.necessarily-text
  margin: 14px 0 0
  font-size: 12px
  color: $text

  sup
    color: $accent
    margin: 0 5px 0 0

.formalization
  .line-wrapper
    justify-content: space-between
    width: 100%
    max-width: 444px

.links-entrance
  color: #000000
  font-size: 25px

.btn-border
  font-size: 23px
  color: #000
  font-weight: 800
  height: 85px
  border: 1px solid $text
  max-width: 444px
  margin: 50px auto 0

.guest
  margin: 71px auto 0
  width: 100%
  max-width: 444px

.where-pick
  display: none
  font-size: 16px

.dropdown-wrapper
  padding: 20px 0
  position: relative
  margin: 0 0 44px
  display: none

  &:before, &:after
    content: ''
    position: absolute
    width: calc(100% + 60px)
    height: 1px
    background: $text
    left: 50%
    transform: translate(-50%, 0)

  &:before
    top: 0

  &:after
    bottom: 0

  .svg-icon
    width: 21px
    height: 13px
    fill: #000

  .basket-card__name
    width: 100%
    margin: 0 0 40px
    font-size: 21px

  .line-wrapper
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap

  .amount
    margin: 20px 0 0 auto

  .price-val
    margin: 0
    font-size: 26px

#maps-modal
  .modal__wrapper
    padding: 30px
    max-width: 900px
    height: 100%

.address-slider
  margin: 94px auto 0
  padding: 0 60px

.address-slider-box
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap

  h3
    font-size: 24px
    margin: 0 0 24px
    width: 100%

  .list-address-info
    display: flex
    align-items: flex-start
    justify-content: space-between
    margin: 0
    width: 100%

.dropdown-wrapper-tabs
  display: none
  background: #000
  color: #fff

  .dropdown-item
    padding: 15px 0
    justify-content: center
    font-size: 28px

    h3
      display: flex
      align-items: flex-start
      flex-wrap: wrap

    sup
      font-size: 21px
      line-height: 1
      margin: 0 0 0 5px

    .svg-icon
      fill: #fff
      width: 17px
      height: 10px
      margin: 0 0 0 25px

  .block-hidden
    margin: 0

  .views-tab
    display: block
    padding: 0
    max-width: none
    color: #fff
    text-align: center

    li
      padding: 10px 0
      color: #fff
      margin: 0
      text-align: center
      justify-content: center

.social-share-mobile
  position: fixed
  z-index: 3
  bottom: 30px
  right: 30px
  display: none

.social-share-mobile.active
  .social-share-mobile__list
    display: flex
  .social-share-mobile__btn
    background: $accent url("../img/close.svg") no-repeat center
      size: 23px

.social-share-mobile__btn
  width: 80px
  height: 80px
  background: $accent url("../img/message.svg") no-repeat center
    size: 44px
  transition: .3s ease
  cursor: pointer
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center

.social-share-mobile__list
  display: none
  flex-direction: column
  align-items: center
  margin: 0 0 13px
  li
    margin: 0 0 8px
    &:last-child
      margin: 0
    a
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      background: $accent
      width: 60px
      height: 60px
      padding: 13px

      .svg-icon
        fill: #fff


@import "media"
// Всегда в конце
